@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");
body {
  font-family: Assistant;
  color: white;
  background-color: #363537;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 75px 150px 100px 100px;
}
h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}
hr {
  height: 5px;
  background-color: black;
  border-color: black;
}
img{
  width:200px;
}
.title{
  grid-column: 3;
  grid-row: 1;
}
#form{
  grid-column:3;
  grid-row: 2;
}




#d1, .dice1{
  font-size: 40px ;
  grid-column:2;
  grid-row:3;

}
#d2, .dice2{
  font-size: 40px ;
  grid-column:3;
  grid-row:3;
}
.dice2{
  align-content: center;
}
#d3, .dice3{
  font-size: 40px ;
  grid-column:4;
  grid-row:3;
}
.dice3{
  align-content: right;
}
#d1, #d2, #d3{
  grid-row:4;
  align-self: center;
}



#statsDiv{
  grid-column: 5;
  grid-row:3;
  font-size: 40px ;
}
#freqDiv{
  grid-column:1;
  grid-row: 3;
  font-size: 40px ;
}
#rollbutt{
  grid-column:3;
  grid-row:5;
  font-size:30px;
}
table, th, td{
  border: solid black 1px;
}
